$bg_img_1: linear-gradient(to right, #373736, #4c4c4b, #626161, #797879, #909090);
$bg_img_2: linear-gradient(to right top, #141517, #191a1c, #1d1e21, #212326, #26282b, #2a2c2f, #2e3034, #323438, #36383c, #3a3c41, #3e4145, #42454a);
$text_color_1: white;
$text_color_2: black;