*{
    margin:0;
    padding:0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    
}

.display_none {
    display: none !important;
}

.menu_mobile{
    display: none;
}

@font-face {
    font-family: ProcrastinatingPixie;
    src: url(../fonts/ProcrastinatingPixie-WyVOO.ttf);
}

:root{
    --z-index-header : 1;
}

html{
    scroll-behavior: smooth;
    
}

body{
    background-color: black;
    width: 100%;
    overflow-x: hidden;
    
    > section{
        height: 100vh;
        width: 100vw;
        max-width: 100vw !important;
        overflow-x: hidden;
    }
}


.center_flex{
    align-items: center;
}

.text_center{
    text-align: center;
}

.space_between{
    justify-content: space-between;
}

.mid{
    position: relative;
    top: 20vh;
    left: 15vw;
    width: 80vw;
    color: white;
    font-size: 110px;
    display: flex;
}
