#Contact{
    background-image: linear-gradient(to right top, #141517, #191a1c, #1d1e21, #212326, #26282b, #2a2c2f, #2e3034, #323438, #36383c, #3a3c41, #3e4145, #42454a);
    /* background-image: linear-gradient(to right, #373736, #4c4c4b, #626161, #797879, #909090); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: ProcrastinatingPixie;
}

#Contact .mid{
    font-size: large;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    font-size: 28px;
    left:10%;
    top:20vh;
}

#Contact .mid .infos{
    width: 100%;
}

#Contact .mid .infos .p,#Contact .mid .infos span{
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

#Contact .buttons{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;

}

#Contact .buttons a{
    display: inline-block;
    margin: 5%;
    width: 15%;
}

#Contact a img{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
}