#Home{
    background-color: black;
    background-image: url(../image/fundo_home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    
}

#Home .mid{
    width: 80vw;
    justify-content: center;
    font-size: 7vw;
}

#Home .mid .left{
    padding: 10px;
}

#Home .mid .right img{
    width: 25vw;
    height: 25vw;
    border-radius: 150px;
}
