* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

@font-face {
  font-family: ProcrastinatingPixie;
  src: url(../fonts/ProcrastinatingPixie-WyVOO.ttf);
}
:root {
  --z-index-header: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  width: 100%;
  overflow-x: hidden;
}
body > section {
  height: 100vh;
  width: 100vw;
  max-width: 100vw !important;
  overflow-x: hidden;
}

.center_flex {
  align-items: center;
}

.text_center {
  text-align: center;
}

.space_between {
  justify-content: space-between;
}

.mid {
  position: relative;
  top: 20vh;
  left: 15vw;
  width: 80vw;
  color: white;
  font-size: 110px;
  display: flex;
}

#Navbar {
  position: fixed;
  z-index: var(--z-index-header);
  padding: 20px 50px;
  width: 100%;
}
#Navbar nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
#Navbar .Logo {
  font-family: ProcrastinatingPixie;
  font-size: 6vw;
  color: darkgray;
  text-decoration: none;
  text-shadow: 6px 6px black;
}
#Navbar ul {
  box-sizing: border-box;
}
#Navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 10px;
}
#Navbar ul a {
  font-size: 2.2vw;
  text-decoration: none;
  color: white;
  text-shadow: 4px 2px black;
}

#Home {
  background-color: black;
  background-image: url(../image/fundo_home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
}
#Home .mid {
  width: 80vw;
  justify-content: center;
  font-size: 7vw;
}
#Home .mid .left {
  padding: 10px;
}
#Home .mid .right img {
  width: 25vw;
  height: 25vw;
  border-radius: 150px;
}

#About {
  background-image: linear-gradient(to right, #373736, #4c4c4b, #626161, #797879, #909090);
}
#About .mid {
  font-size: 4vw;
}

#Cvs {
  background-image: linear-gradient(to right top, #141517, #191a1c, #1d1e21, #212326, #26282b, #2a2c2f, #2e3034, #323438, #36383c, #3a3c41, #3e4145, #42454a);
}
#Cvs .mid {
  top: 0;
  left: 0%;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
#Cvs .button {
  text-align: center;
  font-size: 2.2vw;
  padding: 30px;
  width: 30vw;
  border-radius: 30px;
  border: 5px solid white;
  color: white;
}

#Projects {
  background-image: linear-gradient(to right, #373736, #4c4c4b, #626161, #797879, #909090);
}
#Projects .container {
  position: relative;
  height: 30vw;
  width: 80vw;
  top: 25vh;
  left: 10vw;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  flex-direction: row;
}
#Projects .container .item {
  min-width: 30%;
  min-height: 70%;
  border: 3px solid snow;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
#Projects .container .item .info {
  display: none;
  width: 80%;
  height: 80%;
}
#Projects .container .item .text_flag {
  color: white;
  font-size: 3.2vw;
  display: inline-block;
  transform: rotate(45deg);
  position: relative;
  left: -27%;
  top: 27%;
  font-family: ProcrastinatingPixie;
}
#Projects .container .item > span a {
  text-decoration: none;
  font-family: ProcrastinatingPixie;
  color: white;
}
#Projects .container .item > img {
  max-width: 100%;
  max-height: 60%;
  padding: 5%;
}
#Projects .container .item > .name {
  font-size: 2vw;
  position: absolute;
  bottom: 10%;
  color: white;
  text-decoration: none;
}
#Projects .container .item .tags {
  position: relative;
  top: -8%;
  width: 80%;
  height: 8%;
}
#Projects .container .item .project_link {
  position: relative;
  display: flex;
  text-decoration: none;
  font-size: 1.8vw;
  font-family: ProcrastinatingPixie;
  align-items: center;
  justify-content: center;
  color: white;
  top: -10%;
  height: 10%;
  border-radius: 3%;
  padding: 20px;
  border: 3px solid white;
}
#Projects .container .item .project_link > svg {
  height: 5vh;
  padding-right: 3px;
}
#Projects .container .item .project_link > svg path {
  fill: white;
}
#Projects .container .item .project_link:hover {
  background-color: #38038f;
}
#Projects .container .item .tags ul > li {
  width: 10%;
  height: 80%;
  text-decoration: none;
  list-style: none;
  display: inline-block;
}
#Projects .container .item:hover {
  background-color: rgba(23, 23, 22, 0.5647058824);
}

#Contact {
  background-image: linear-gradient(to right top, #141517, #191a1c, #1d1e21, #212326, #26282b, #2a2c2f, #2e3034, #323438, #36383c, #3a3c41, #3e4145, #42454a);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: ProcrastinatingPixie;
}
#Contact a img {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
}
#Contact .buttons {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#Contact .buttons a {
  display: inline-block;
  margin: 5%;
  width: 15%;
}
#Contact .mid {
  font-size: large;
  flex-wrap: wrap;
  text-align: center;
  color: white;
  font-size: 2vw;
  left: 10%;
  top: 20vh;
}
#Contact .mid .infos {
  width: 100%;
}
#Contact .mid .infos span, #Contact .mid .infos p {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

#Skills {
  background-image: linear-gradient(to right top, #141517, #191a1c, #1d1e21, #212326, #26282b, #2a2c2f, #2e3034, #323438, #36383c, #3a3c41, #3e4145, #42454a);
}
#Skills .mid {
  top: 25vh;
}
#Skills .Mastered, #Skills .Learned {
  font-size: 2vw;
  flex-wrap: wrap;
  display: flex;
  left: 1vw;
  flex-direction: column;
  justify-content: center;
  height: 35%;
  width: 100%;
}
#Skills .skill-container {
  display: flex;
  height: 70%;
  width: 98%;
  overflow: auto;
  overflow-y: hidden;
}
#Skills .skill-container .skill {
  text-align: center;
  background-color: #42454a;
  height: 90%;
  min-width: 11%;
  border-radius: 20%;
  padding: 20px;
  margin: 10px;
  display: inline-block;
}
#Skills .skill-container .skill > figure {
  height: 80%;
  width: 100%;
}
#Skills .skill-container .skill > figure figcaption {
  font-size: 56%;
}
#Skills .skill-container .skill > figure img {
  height: 100%;
}/*# sourceMappingURL=main.css.map */