#Projects {
    background-image: linear-gradient(to right, #373736, #4c4c4b, #626161, #797879, #909090);
}

#Projects .container{
    position: relative;
    height: 30vw;
    width: 80vw;
    
    top: 25vh;
    left: 10vw;

    display: flex;

    
    overflow-x: auto;
    overflow-y: hidden;
    flex-direction: row;
    
}

#Projects .container .item{
    min-width: 30%;
    min-height: 70%;
    border: 3px solid snow;
    margin: 20px;
    border-radius: 10px;
}

#Projects .container .item:hover{
    background-color: #17171690;
}

#Projects .container .item .text_flag{
    color:white;
    font-size: 3.2vw;
    display: inline-block;
    transform: rotate(45deg);
    position: relative;
    left: -27%;
    top: 27%;
    font-family: ProcrastinatingPixie;
}

#Projects .container .item{
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

#Projects .container .item > span a{
    text-decoration: none;
    font-family: ProcrastinatingPixie;
    color: white;
}

#Projects .container .item > img{
    max-width: 100%;
    max-height: 60%;
    padding: 5%;
}

#Projects .container .item > .name{
    font-size: 2vw;
    position: absolute;
    bottom: 10%;
    color: white;
    text-decoration: none;
}

#Projects .container .item .tags{
    position: relative;
    top: 0;
    width: 80%;
    height: 80%;
    
}

#Projects .container .item .tags ul > li{
    width: 10%;
    height: 80%;
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

#Projects .container .item .info{
    /* display: none; */
    width: 80%;
    height: 80%;
}